# 依赖
node_modules
pnpm-lock.yaml
package-lock.json
yarn.lock

# 构建产物
dist
.astro

# Git
.git
.gitignore

# CI/CD
.github

# 文档
README.md
LICENSE

# Docker
Dockerfile
.dockerignore

# IDE
.vscode
.idea
*.swp
*.swo

# 临时文件
*.log
.DS_Store
